<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/admin/admin-layout">
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
</head>
<body>
	
			<div layout:fragment="content"> 
			<div class="be-content">
		 	<div class="main-content container-fluid">
		 		<div class="col-sm-1"></div>
		 		<div class="col-sm-3 panel panel-primary" style="height: 200px; margin-top: 100px; text-align: center; background-color: cyan;">
		 			<p style="line-height: 200px;">Total User 200</p>
		 		</div>
		 		<div class="col-sm-1"></div>
		 		<div class="col-sm-3 panel panel-primary" style="height: 200px; margin-top: 100px; text-align: center; background-color: lightgreen;">
		 			<p style="line-height: 200px;">Total Male User 100</p>
		 		</div>
		 		<div class="col-sm-1"></div>
		 		<div class="col-sm-3 panel panel-primary" style="height: 200px; margin-top: 100px; text-align: center; background-color: lightblue;">
		 			<p style="line-height: 200px;">Total Female User 100</p>
		 		</div>
			</div>
		</div>
	</div>

</body>
</html>